* {
  font-family: 'Overpass', sans-serif !important;
  outline: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2B2B2C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: #509BFB;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.MuiButton-root.Mui-disabled {
  background-color: #fff !important;
}

.MuiButtonBase-root.Mui-disabled {
  background-color: #ccc !important;
}
